@font-face {
  font-family: "Roboto";
  src: url("../asset/font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../asset/font/Roboto/Roboto-Bold.ttf");
}

.root {
  -fx-font-family: "Roboto";
  -bg-main-color: #F0F2F5;
}
.root-page{
    -fx-background-color: -bg-main-color;
}
.root-center-page{
    -fx-background-color: -bg-main-color;
}

.split-pane {
  -fx-background-color: transparent;
}

.split-pane-divider {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0;
}
.btn-transparent {
  -fx-background-color: transparent;
}
.navbar-elmt {
  -fx-fill: red;
  -fx-border-width: 0 0 3px 0;
  -fx-border-color: transparent;
  /* -fx-padding: 0 0 10px 0 ; */
}
.navbar-elmt:hover {
  -fx-border-color: green;
  -fx-background-color: #ccc;
}
.navbar-icon {
  -fx-fill: rgb(65, 95, 61);
}
.box-entry {
  -fx-background-color: #fff;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}
.text-entry {
  -fx-border-color: #ccc;
  -fx-border-radius: 15px;
  -fx-background-radius: 15px;
}
.icon-entry {
  -fx-fill: #6b6b6b;
}

.search-bar{
    -fx-background-color: -bg-main-color;
    -fx-border-color: -bg-main-color;
}
.header-bar{
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 1px 0;

}
.scroll-pane{
    -fx-background-color: -bg-main-color;
}

.post{
    -fx-background-color: #fff;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
}
.post .post-box{
    -fx-padding: 15px;
}

